html {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  image-rendering: -webkit-optimize-contrast;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
  font-family: Teko, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden!important;
  font-size: 16px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-style: none;
}

p {
  margin-top: 0;
}

address {
  font-style: normal;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000;
}

a:hover {
  color: #056bc1;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear{
  display: none!important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
